/*Header*/

/*need to get this sorted out so it actually, controls the header*/
.header {
  position: relative;
  background-color: white;
  color: blue;
}

/* Navigation */

#navigation {
  box-sizing: border-box;
  background-color: #3587A4;
  overflow: auto;
  padding: 10px /*top/bottom*/10px/*left/right*/ /*a short cut was used here*/;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

li a {
  color: #FFF;
  display: inline-block;
  font-family: Oxygen, sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  padding: 5px /*top*/ 10px /*right*/ 10px /*bottom*/ 10px /*left*/ /*padding was define*/
  text-transform: capitalize;
  text-align: center;
}

.active {
  color: #88CCF1;
}

/* main body */

body {
  background: #EEE;
  margin: 0;
  padding: 0;
  position: relative;
}

/* text controls */

h1 {
  color: blue;
  font-size: 40px;
  text-align: center;
  font-family: cursive;
  text-transform: uppercase;
}

h2 {
  color: black;
  font-size: 20px;
  text-align: center;
  font-family: arial;
  text-transform: capitalize;
}

p {
  color: black;
  font-size: 15px;
  text-align: center;
  font-family: arial;
  text-transform: none;
}

/* */

/* Table */

table {
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 80%;
}

thead th {
  background: #88CCF1;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: capitalize;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
  font-size: 15px;
}

th, td {
  border: 1px solid black;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 20px;
  text-align: center;
  width: 33.3333%;
}

.search {
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 3px;
  color: #AAA;
  padding: 20px;
  margin: 50px auto 0px auto;
  width: 77%;
}

/*Media -> need to figure this one out still; would like to add in an image via CSS with a caption

media {
  background-image: url (troll-batman.jpg);
}
*/

/*Footer*/

.actions{

}

/*need to add some styling to the buttons to make them look more pretty then what they are right now*/
